/elpa/
/tmp/
/recentf
/projectile-bookmarks.eld
/.lsp-session*
/org-clock-save.el
/local.el
/url/
/transient/
/tramp
/custom.el
/keybase-chat/
/lsp-cache/
/bookmarks
/.cache
/straight/modified/
/request/
/network-security.data
/smex-items
/eln-cache/
/history